.images-body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding: 0px;
    margin: 0px;
}

.images-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}

.images-table__th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}

.images-table__td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.images-table__img-thumbnail {
    max-width: 100px;
    max-height: 100px;
}

.images-confirm-dialog {
    position: absolute;
    top: 0;
    left: 0;
}

.images-preview-image-dialog {
    margin: 55px 15px 55px 15px;
}

.images-preview-image-dialog-fix-size {
    max-height: 100% !important;
    top: 0 !important;
}

.images-preview-image-dialog-image {
    max-width: 100%;
    margin: 0 !important;
    padding: 0;
}

.images-content-preview,
.images-content-preview__image,
.images-content-preview__video {
    min-height: 50px;
    min-width: 50px;
    height: 100%;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align:center;
}

.images-content-preview__image__thumbnail {
    max-height: 500px;
    max-width: 100%;
}

.images-content-preview__video__preview {
    min-width: 100px;
    min-height: 100px;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

.images-content-close-button {
    right: 5px;
    top: 5px;
    position: absolute;
    z-index: 10;
}

.images-illustration-simple-thumbnail {
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    flex: 1 1 auto;
}

.images-error {
    color: red;
}
