<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.Images</Namespace>
  <Channel>Stable</Channel>  
  <Version>3.0.4</Version>
  <AppName>Images</AppName>
  <Executable>app/Images.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Images.png</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Images</DisplayName>
  <Description>Sample micro app that can put an image on anything. Supports drag'n'drop. Try it with **people** or **products**.</Description>
  <VersionDate>2015-11-12T12:42:00Z</VersionDate>
  <Dependency name="Starcounter">2.1.155</Dependency>
</PackageConfig>