<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.Images</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.1</Version>
  <AppName>Images</AppName>
  <Executable>app/Images.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Images.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>Images</DisplayName>
  <Description>Sample micro app that can put an image on anything. Try it with **people** or **products**.</Description>
  <VersionDate>2015-08-10T15:33:00Z</VersionDate>
  <Dependency name="Starcounter">2.0.3293.3</Dependency>
</PackageConfig>