<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.Images</Namespace>
  <Channel>Stable</Channel>  
  <Version>2.0.0-pre1</Version>
  <AppName>Images</AppName>
  <Executable>app/Images.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Images.png</ImageUri>
  <DisplayName>Images</DisplayName>
  <Company>Polyjuice</Company>
  <Description>Show/add an image for 'something' (tested with Starcounter 2.0.3077)</Description>
  <VersionDate>2014-03-10T23:00:00Z</VersionDate>
</PackageConfig>