<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.Image</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.0</Version>
  <AppName>Image</AppName>
  <Executable>app/Image.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>Image.png</ImageUri>
  <DisplayName>Product Image</DisplayName>
  <Company>Polyjuice</Company>
  <Description>Image</Description>
  <VersionDate>2014-11-06T08:47:00Z</VersionDate>
</PackageConfig>